<%= render "welcome/header" %>

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="card border-0">
    <div class="card-block m-1">
      <h4 class="card-title text-info"><%= @article.title %></h4>
      <p class="card-text"><%= @markdown.render(@article.body).html_safe %> </p>
    </div>
  </div>
  <% if !current_user.nil? %>
    <% if current_user.id == @article.users_id %>
       <%= link_to 'Edit', edit_article_path(@article), class:'btn btn-secondary' %>
  <p class="text-primary mt-1"><%= "#{@article.comments.length} comment"%></p>
    <% end %>
  <% end %>
 
  <%= render @article.comments %>

  <% if current_user.nil? %>
  <%= link_to 'Login to leave comment', login_path(:url => "/articles/#{@article.id}"), class:'btn btn-secondary' %> 
  
  <% else %>

  <div class="card-block m-1">
  <h4>Add a comment:</h4>
  <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, value: @current_user.name %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit class: "btn btn-primary mb-2" %>
  </p>
  <% end %>
  </div>
  
  <% end %>


</div>